# Environment Variables untuk Vercel (Frontend Vite + Supabase)
# Isi di Vercel -> Project Settings -> Environment Variables

VITE_SUPABASE_URL=https://tbrkiitpnognhdunyemo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRicmtpaXRwbm9nbmhkdW55ZW1vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEyMjk5MzUsImV4cCI6MjEwNjgwNTkzNX0.xDcCVnIbRaWg0VhbSkgBZ7u-Vf4w7hKHRJ5sALOcm28

# Google Analytics (Opsional)
# VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX
